GITHUB_TOKEN=ghp_...
PUBLIC_UMAMI_WEBSITE_ID=

# Giscus Comments Settings
PUBLIC_GISCUS_REPO="github-username/repo-name"
PUBLIC_GISCUS_REPO_ID="R_xxxxxxxx"
PUBLIC_GISCUS_CATEGORY="Discussion Category"
PUBLIC_GISCUS_CATEGORY_ID="DIC_xxxxxxxxxxxx"
